<div id="centeredmenu">
    <ul>
        <li><a href=@Url.Action("Clients", "Home") onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('clients','','@Url.Content("~/Content/themes/Images/TopNavigation/clients_down.gif")',1)">
            <img name="clients" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/clients.gif")" alt="clients">
        </a></li>
        <li><a href=@Url.Action("Index", "Vacancy") onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('vacancies','','@Url.Content("~/Content/themes/Images/TopNavigation/vacancies_down.gif")',1)">
            <img name="vacancies" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/vacancies.gif")"
                     alt="vacancies"></a></li>
        <li><a href=@Url.Action("Register", "Home") onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('register','','@Url.Content("~/Content/themes/Images/TopNavigation/register_down.gif")',1)">
            <img name="register" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/register.gif")"
                     alt="register"></a></li>
        <li><a href="mailto:HR@EmiEurope.com&amp;subject=Post%20Resume" onmouseout="MM_swapImgRestore()"
               onmouseover="MM_swapImage('postresume','','@Url.Content("~/Content/themes/Images/TopNavigation/postresume_down.gif")',1)">
            <img name="postresume" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/postresume.gif")"
                     alt="post resume"></a></li>
        <li><a href=@Url.Action("ContactUs", "Home") onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('contact','','@Url.Content("~/Content/themes/Images/TopNavigation/contact_down.gif")',1)">
            <img name="contact" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/contact.gif")"
                     alt="contact"></a></li>
        <li><a href=@Url.Action("Index", "Home") onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home','','@Url.Content("~/Content/themes/Images/TopNavigation/home_down.gif")',1)">
            <img name="home" border="0" src="@Url.Content("~/Content/themes/Images/TopNavigation/home.gif")"
                     alt="home"></a></li>
    </ul>
</div>
