@{
    ViewBag.Title = "Emi Europe - Home Page";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<table border="0" cellspacing="0" cellpadding="0" style="">
    <tr>
        <td valign="top">
            <table border="0" cellspacing="0" cellpadding="0" style="">
                <tr>
                    <td width="450" colspan="2">
                        <img src="@Url.Content("~/Content/themes/Images/homepage-mainheading.jpg")" alt="Home Page Main Header"
                            style="padding-top: 20px;" />
                    </td>
                </tr>
                <tr>
                    <td width="200" valign="top">
                        <div class="frontpagefont2">
                            <ul>
                                <li>Cath Lab RN's</li>
                                <li>Nurse Practitioners </li>
                                <li>Cath Lab Managers </li>
                                <li>Executives and VP's</li>
                                <li>Cath Lab Directors </li>
                            </ul>
                        </div>
                    </td>
                    <td width="200" valign="top">
                        <div class="frontpagefont2">
                            <ul>
                                <li>Cardiologists</li>
                                <li>Surgeons</li>
                                <li>Clinical Nurse Specialists</li>
                                <li>Chief Nursing Officers</li>
                                <li>Electrophysiologists</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="450" colspan="2"><a href="@Url.Action("AboutUs", "Home")">
                        <img  border="0" src="@Url.Content("~/Content/themes/Images/companyprofile_header.gif")" alt="Company Profile" />
                        </a>
                        <br>
                        <div class="frontpagefont">
                            <a  href="@Url.Action("AboutUs", "Home")" class="homepageLink">EMI Europe is a Medical
                                Recruitment Agency like no other, committed to providing total recruitment solutions
                                for both clients and candidates... </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <img border="0" src="@Url.Content("~/Content/themes/Images/homepage-contactus.jpg")" alt="Contact Us"  style="padding-top: 10px;padding-bottom: 10px;"/>
                    </td>
                </tr>
                <tr>
                    <td width="450" colspan="2" style="padding-bottom: 10px;"><a href="@Url.Action("Service", "Home")">
                                                                                  <img border="0" src="@Url.Content("~/Content/themes/Images/whyuseourservice_small.jpg")" alt="Why Use Our Service" style="padding-top: 0px"/>
                                                                              </a>
                        <br>
                        <div class="frontpagefont">
                            <a  href="@Url.Action("Service", "Home")" class="homepageLink">In-house recruiters or
                                Talent acquisition consultants have to fill multiple vacancies, spread across various
                                department, hence they don’t have much.... </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="450" colspan="2" style="padding-bottom: 10px;"><a href="@Url.Action("Service", "Home")">
                                                                                  <img border="0" src="@Url.Content("~/Content/themes/Images/whyuseourservice_small.jpg")" alt="Why Use Our Service" style="padding-top: 0px"/>
                                                                              </a>
                        <br>
                        <div class="frontpagefont">
                            <a  href="@Url.Action("Service", "Home")" class="homepageLink">In-house recruiters or
                                Talent acquisition consultants have to fill multiple vacancies, spread across various
                                department, hence they don’t have much.... </a>
                        </div>
                    </td>
                </tr>
 <tr>
                    <td width="450" colspan="2" style="padding-bottom: 10px;"><a href="@Url.Action("Service", "Home")">
                        <img border="0" src="@Url.Content("~/Content/themes/Images/whyuseourservice_small.jpg")" alt="Why Use Our Service" style="padding-top: 0px"/>
                        </a>
                        <br>
                        <div class="frontpagefont">
                            <a  href="@Url.Action("Service", "Home")" class="homepageLink">In-house recruiters or
                                Talent acquisition consultants have to fill multiple vacancies, spread across various
                                department, hence they don’t have much.... </a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top" style="width: 150px; padding-top: 20px;">
            <img src="@Url.Content("~/Content/themes/Images/homepage-right-icons.jpg")" alt="Home Page Right Icons"/>
        </td>
    </tr>
</table>
